# Pandas

Pandas is a **library** containing functions, methods, and data types that allow us to analyze data. To use the functions contained in pandas, we must first **import** the module. The ``as pd`` part tells the computer that whenever we want to use a function from pandas, we can refer to it using ``pd``.

In [ ]:
# Make sure to run this first!!
import pandas as pd

(Tip: make your own list of common pieces of code and syntax so you can easily refer to it, like a cheat sheet.)

https://melaniewalsh.github.io/Intro-Cultural-Analytics/03-Data-Analysis/01-Pandas-Basics-Part1.html

https://www.w3schools.com/python/pandas/pandas_ref_dataframe.asp

## Data types in pandas
| Python         | Pandas             |
|----------------|--------------------|
|String (`str`)  | Object (`object`)  |
|Integer (`int`) | Int64 (`int64`)    |
|Float (`float`) | Float64 (`float64`)|
|List (`list`)   |$\approx$ Series (`Series`)   |
|                |DataFrames (`DataFrame`)|

## Creating a variable for a file as a dataframe

### Question 1

For this tutorial demo, we will use data published by the Seattle Public Library concerning items that were checked out in April 2020. To use the file ``seattle_checkouts.csv``, you can upload this notebook directly to your Week 7 Lab folder. Note this is a csv file, so we **do not need** the parameter ``sep="\t"`` when using ``read_csv``. 

The two pieces of code below each have an error. Run the code, identify the two errors, then correct it.

In [ ]:
checkouts_df = read_csv('seattle_checkouts.csv')

In [ ]:
checkouts_df = pd.read_csv('seattle_checkouts.csv')

In [ ]:
# Write the correct line here, then run it:

## Selecting Columns

Note: using ``print(checkouts_df)`` does not produce a nice readable output for a dataframe. Instead, you can just type the variable name and run the cell to view the dataframe.

In [ ]:
#Run this cell to see the dataframe stored in checkouts_df.
checkouts_df

### Question 2
I want to isolate the columns containing the number of checkouts, title, and creator of each work, then store the resulting dataframe in a new variable. Identify the error, then correct it.

In [ ]:
trimmed_checkouts_df = checkouts_df[["checkouts", "title", "creator"]]

In [ ]:
trimmed_checkouts_df

What if I just want to get the creator column? What is difference between these two lines?

In [ ]:
checkouts_creators_df = checkouts_df[["Creator"]]
checkouts_creators_df

In [ ]:
checkouts_creators_df = checkouts_df["Creator"]
checkouts_creators_df

## Counting values in a dataframe

### Question 3
In lecture, we used the line 

``nyt_df['title'].value_counts()`` 

to find the most common titles among the entries in the dataframe ``nyt_df``. 

**3a)** Modify the line to find the most common publication years among the items in ``checkouts_df``.

In [ ]:
nyt_df['title'].value_counts()

What can we do to get a Series containing only the top 10 most common publication years? (Recall: how do you get the first ten items in a list?)

**3b)** Create a bar graph displaying the most common publication years among the items in ``checkouts_df``.

In [ ]:
# Modify this line of code to get what you want:
top_ten_authors = nyt_df['author'].value_counts()[:10]
plot = top_ten_authors.plot(kind="bar", title='NYT Best Sellers:\nTen Authors Who Appear Most Frequently')

## Filtering data

### Question 4

In lecture we used the code

``nyt_df[nyt_df['author'] == 'Toni Morrison']``

to create a new dataframe containing only the entries in ``nyt_df`` written by Toni Morrison, i.e. the entries whose ``author`` value is ``'Toni Morrison'``. 

**4a)** Modify the line to get a dataframe containing only the works in ``checkouts_df`` written by Geronimo Stilton and store the result in a variable called `stilton_df`.

In [ ]:
stilton_df = checkouts_df[checkouts_df['Creator'] == 'Geronimo Stilton']

In [ ]:
checkouts_df

**4b)** Similarly, get a dataframe containing only the works in ``checkouts_df`` that are audiobooks and store the result in a variable called ``audiobooks_df``.

In [ ]:
audiobooks_df = checkouts_df[checkouts_df['MaterialType'] == 'AUDIOBOOK']

In [ ]:
audiobooks_df

## Using `.describe()`

### Question 5

**5a)** Write down what each of the rows in the table means.

- count:
- unique:
- top:
- mean:
- std:
- min:
- 25%:
- 50%:
- 75%:
- max:

**5b)** Some of the entries say ``NaN``, which means "Not a number". What do you think is the reason for this?

In [ ]:
checkouts_df.describe(include="all")

**5b)** Explain how the output of ``.describe()`` differs when using different parameters.

In [ ]:
checkouts_df[:5]

In [ ]:
checkouts_df.describe(include="object")

In [ ]:
checkouts_df.describe(include="int64")

In [ ]:
# Observe what happens if I try this:

checkouts_df.describe(include="Creator")

# I get an error because the parameter must be a data type; I can't use a column name, for example.